<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body{
        height: 100%;
        width: 100%;
        background-color: rgb(24 24 27);
    }

    h1{
        position: absolute;
        color: #A1CF5F;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #ng{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5vw 4vw;
        background-color: #A1CF5F;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3vh;
        font-weight: bold;
        border: none;
        border-bottom: 3px solid #558C44;
        border-radius: 10px;
        cursor: pointer;
    }
    #htp{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5vw 4vw;
        background-color: #A1CF5F;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3vh;
        font-weight: bold;
        border: none;
        border-bottom: 3px solid #558C44;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h3{
        width: 80%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    span{
        color: red;
    }


</style>
<body>
    <h1>Welcome to Chess by SK</h1>

    <form action="/newgame">
        <input id="ng" type="submit" value="New Game">
    </form>

    <form action="/tutorial">
        <input id="htp" type="submit" value="How to play">
    </form>

    <h3>The game is still <span>UNDER DEVELOPMENT</span>. Please Co-operate if you see any bugs or something goes wrong. <br>Thank You</h3>

</body>
</html>